<div class="review">
  <div class="first-part">
    <p class="avatar">{{ user }}</p>
    <p class="name-of-user">{{ name }}</p>
    <p class="date-of-review">{{ date }}</p>
  </div>
  <div class="second-part">
    <p class="text-of-review">{{ text }}</p>
    <p class="image-of-review">{{ image }}</p>
  </div>
  <div class="third-part">
    <div class="number-of-user">{{ number }}</div>
    <div class="email-of-user">{{ email }}</div>
    <div class="edit-button">{{ edit }} </div>
    <div class="edit-button">{{ delete }} </div>
  </div>
</div>

